[submodule "hyde"]
	path = hyde
	url = https://github.com/spf13/hyde.git
[submodule "herring-cove"]
	path = herring-cove
	url = https://github.com/spf13/herring-cove.git
[submodule "simple-a"]
	path = simple-a
	url = https://github.com/alexfinn/simple-a.git

