<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="utf-8">
		<title>{{ .Title }}</title>
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/skeleton.css">
		<link rel="stylesheet" href="/css/custom.css">
	</head>
<body>
	<div class="container" style="background-color:#FFFFFF; border-bottom: 0px solid #eee;">
		<div class="row">
			<div class="six columns">
				<a href="/" style="text-decoration: none; color: #333;"><span style="font-size: 36px; ">Poop<b>Show</b></span></a>
				<br>
				<i>{{ .Site.Params.tagline }}</i>
			</div>
			<div class="six columns">
				<div class="navbar-spacer"></div>
						<ul class="navbar-list" style="float:right">
							<li class="navbar-item"><a class="navbar-link" href="/about/">about</a></li>
							<li class="navbar-item"><a class="navbar-link" href="{{ .Site.Params.githubUrl }}" target="#">code</a></li>
							<li class="navbar-item"><a class="navbar-link" href="#intro">contact</a></li>
						</ul>
	
			</div>
		</div>
	</div>
	<div class="container">
    <div class="row">
        <div class="twelve columns" >
            <img class="u-max-full-width" src="/img/{{ .Site.Params.headerimg }}">
        </div>
    </div>
